h2 Email Verification

p Please click the following link to complete the registration:

div(styles="text-align: center;")
  a(href=`${host}/users/verifyUserEmail?token=${token}`) #{host}/users/verifyUserEmail?token=#{token}
