h2 My Devices

div
  div.col-md-6.col-sm-12(ng-repeat="device in devices")
    div.panel.panel-default
      div.panel-heading
        h4
          a(href="/devices/{{device._id}}") {{device.name}}
          | &nbsp;
          small.text-primary(ng-show="device.online")
            span.glyphicon.glyphicon-ok-sign
            | &nbsp;
            small {{device.userApplets.length}} applets {{onlineApplets(device.userApplets).length}} online
          small.text-warning(ng-show="!device.online")
            span.glyphicon.glyphicon-info-sign OFFLINE
      div.panel-body
        ul.list-inline
          li(ng-repeat="userApplet in device.userApplets")
            a(ng-href="/my-applets/{{userApplet._id}}")
              img.center-block.md-img(ng-src="{{userApplet.applet.imageUrl}}")
              div.text-center {{userApplet.stats.status}}
