.nodeswork {


  .dev-applet {
    /* height: 300px; */
  }

  .md-img {
    width: 64px;
    height: 64px;
  }

  .lg-img {
    width: 120px;
    height: 120px;
  }

  .img-text-top {
    vertical-align: text-top;
  }

  .img-text-bottom {
    vertical-align: text-bottom;
  }
}
