.nodeswork {


  .dev-applet {
    /* height: 300px; */
  }

  .md-img {
    width: 64px;
    height: 64px;
  }

  .lg-img {
    width: 120px;
    height: 120px;
  }

  .img-text-top {
    vertical-align: text-top;
  }

  .img-text-bottom {
    vertical-align: text-bottom;
  }

  .text-space {
    margin: 0 4px;
  }

  .applet-img {
    margin-top: 12px;
    margin-right: 12px;
  }

  .md-padding-top {
    padding-top: 12px;
  }

  .lg-padding-top {
    padding-top: 40px;
  }

  .account-actions {
    margin-bottom: 0;
  }

  .no-padding {
    padding: 0;
  }
}
