h2 Applet: {{devApplet.name}}

div.row.md-padding
  div.col-md-8.col-sm-12
    form.form-horizontal(ng-submit="save()")
      div.form-group
        label.col-sm-4.control-label(for="image-url") Image
        div.col-sm-8
          div.md-padding
            a(ng-click="editImage()")
              img.lg-img.img-text-bottom(src="{{devApplet.imageUrl}}")
          input#image-url.form-control(type="text", ng-model="devApplet.imageUrl", ng-show="showImageEditor")
      div.form-group
        label.col-sm-4.control-label(for="applet-name") Applet Name
        div.col-sm-8
          input#applet-name.form-control(type="text", ng-model="devApplet.name")
      div.form-group
        label.col-sm-4.control-label(for="applet-type") Applet Type
        div.col-sm-8
          select#applet-type.form-control(ng-model="devApplet.appletType")
            option(value="NpmApplet") NPM Package
      div.form-group
        label.col-sm-4.control-label(for="package-name") Package Name
        div.col-sm-8
          input#package-name.form-control(type="text", ng-model="devApplet.packageName")
      div.form-group
        label.col-sm-4.control-label(for="package-version") Package Version
        div.col-sm-8
          input#package-version.form-control(type="text", ng-model="devApplet.version")
      div.form-group
        label.col-sm-4.control-label Containers
        div.col-sm-4.checkbox
          label
            input#container-cloud(type="checkbox", ng-model="devApplet.containers.cloud"
              ng-true-value="true", ng-false-value="false")
            | Cloud
        div.col-sm-4.checkbox
          label
            input#container-device(type="checkbox", ng-model="devApplet.containers.userDevice",
              ng-true-value="true", ng-false-value="false")
            | User Device
      div.form-group
        label.col-sm-4.control-label(for="permission") Permission
        div.col-sm-8
          select#permission.form-control(ng-model="devApplet.permission")
            option(value="PRIVATE") Private
            option(value="PUBLIC") Public
            option(value="LIMIT") Limit Access
      div.form-group(ng-show="devApplet.permission == 'LIMIT'")
        label.col-sm-4.control-label(for="limit-access") Limited Access
        div.col-sm-8
          input#limit-access.form-control(type="text", ng-model="devApplet.limitedToUsersNN")
      div.form-group
        label.col-sm-4.control-label(for="require-accounts") Require Accounts
        div.col-sm-8
          div
            ul.list-unstyled
              li(ng-repeat="account in devApplet.requiredAccounts")
                ul.list-inline
                  li
                    select.form-control(ng-model="account.accountCategory")
                      option(ng-repeat="category in accountCategories", ng-value="category._id") {{category.name}}
                  li
                    label
                      input.form-control(type="checkbox", ng-model="account.optional")
                      | Optional
                  li
                    label
                      input.form-control(type="checkbox", ng-model="account.multiple")
                      | Multiple
                  li
                    select.form-control(ng-model="account.permission")
                      option(value="READ") Permission Read
                      option(value="MANAGE") Permission Manage
                      option(value="WRITE") Permission Write
              li #[a(href="#", ng-click="addAccount()") +]
      div.form-group
        label.col-sm-4.control-label(for="dev-token") Developer Token
        div.col-sm-8
          input#dev-token.form-control(type="text", ng-model="devApplet.devToken", disabled)
      div.form-group
        label.col-sm-4.control-label(for="description") Description
        div.col-sm-8
          textarea#description.form-control(rows="3", ng-model="devApplet.description")
      div.form-group
        label.col-sm-4.control-label(for="short-description") Short Description
        div.col-sm-8
          textarea#short-description.form-control(rows="3", ng-model="devApplet.shortDescription")
      div.form-group
        label.col-sm-4.control-label(for="default-cron") Default Scheduler
        div.col-sm-8
          input#default-cron.form-control(type="text", ng-model="devApplet.defaultScheduler.cron")
      div.form-group
        div.col-sm-offset-4.col-sm-8
          button.btn.btn-success(type="submit") Save

pre {{devApplet | json}}
