div.col-sm-6.col-md-3.md-padding
  div.panel(ng-class="{'panel-danger': account.status != 'ACTIVE'}")
    div.list-group-item
      div.row
        img.center-block.md-img(ng-src="{{account.category.imageUrl}}")
      div.row
        h4.text-center {{account.username || account.name}}
    div.list-group-item.active
      ul.list-inline.text-center.account-actions
        li.text-success(ng-show="account.status == 'ACTIVE'", title="Account is active")
          span.text-space.glyphicon.glyphicon-ok-sign
        li.text-danger(ng-show="account.status == 'INACTIVE'", title="Account is inactive")
          span.text-space.glyphicon.glyphicon-exclamation-sign
        li.text-danger(ng-show="account.status == 'UNVERIFIED'", title="Account is not verified")
          span.text-space.glyphicon.glyphicon-eye-close
        li(title="Applets")
          span.text-success.text-space.glyphicon.glyphicon-object-align-bottom
          | 2
        li(title="API Calls")
          span.text-success.text-space.glyphicon.glyphicon-sort
          | 4
        li(title="Edit")
          a(href="/accounts/{{account._id}}/edit")
            span.text-success.text-space.glyphicon.glyphicon-edit
