div.panel.panel-default.col-sm-6.col-md-5
  div.panel-body
    div.media
      div.media-left
        img.md-img.applet-img(src="{{applet.imageUrl}}")
      div.media-body
        h4 {{applet.name}}
        p {{applet.shortDescription}}
        p No account required.
        p
          | Work with:
          span(ng-show="applet.containers.cloud").text-space.glyphicon.glyphicon-cloud
          span(ng-show="applet.containers.userDevice").text-space.glyphicon.glyphicon-phone
        div.pull-right
          button.btn.btn-primary Enable
          button.btn.btn-default Details
