div.panel.panel-default.col-sm-6.col-md-4
  div.panel-body
    div.media
      div.media-left
        img(
          width=64, height=64,
          src="https://cdn-origin.fifa-gamers-pub.com/club_items/badges/1794.png")
      div.media-body
        h5 {{applet.appletType}}
        p {{applet.name}}
        p {{applet.description}}
        div.pull-right
          button.btn.btn-primary Enable
          button.btn.btn-default Details
