h2 My Applet: {{userApplet.applet.name}}

div.md-padding-top
  ul.col-md-3.nav.nav-pills.nav-stacked
    li.active
      a(data-toggle="pill", href="#applet-channel") Applet Channel
    li
      a(data-toggle="pill", href="#configurations") Configurations
    li
      a(data-toggle="pill", href="#executions") Executions

  div.col-md-9.tab-content
    div#applet-channel.panel.panel-default.active.tab-pane
      div.panel-body
        | APPLET CHANNEL (UNDER CONSTRUCTION)
    div#configurations.panel.panel-default.tab-pane
      div.panel-body.lg-padding-top
        form.form-horizontal(ng-submit="saveUserApplet()")
          div.form-group
            label.col-sm-3.control-label(for="device") Device
            div.col-sm-9
              select#device.form-control(
                ng-model="userApplet.device",
                ng-options="device._id as device.name for device in devices track by device._id")
          div.form-group
            label.col-sm-3.control-label(for="status") Status
            div.col-sm-9
              select#status.form-control(ng-model="userApplet.status")
                option(value="ON") ON
                option(value="OFF") OFF
                option(value="INSUFFICIENT_ACCOUNT") Insufficient Account
          div.form-group
            label.col-sm-3.control-label(for="require-accounts") Require Accounts
            div.col-sm-9
              ul#require-accounts.list-inline
                li.col-md-6.sm-padding-bottom(ng-repeat="account in accounts")
                  div
                    ul.list-inline
                      li
                        input(type="checkbox", ng-model="account.selected", ng-change="updateAccountSelect()")
                      li
                        img.sm-img(ng-src="{{account.category.imageUrl}}")
                      li {{account.name || account.username}}

          div.form-group
            label.col-sm-3.control-label(for="timezone") Timezone
            div.col-sm-9
              select#timezone.form-control(
                ng-model="userApplet.scheduler.timezone",
                ng-options="timezone for timezone in timezones"
              )
          div.form-group
            label.col-sm-3.control-label(for="cron") Scheduler
            div.col-sm-9
              input#cron.form-control(type="text", ng-model="userApplet.scheduler.cron")
          div.form-group
            div.col-sm-offset-3.col-sm-9
              ul.list-inline
                li
                  button.btn.btn-success(type="submit") Save
                li
                  a.btn.btn-default(href="/my-applets") Cancel
    div#executions.panel.panel-default.tab-pane
      div.panel-body
        table.table.table-striped
          thead
            tr
              th ID
              th Device
              th Status
              th Trigger
              th Duration (ms)
              th Time
          tbody
            tr(ng-repeat="execution in executions")
              td {{execution._id}}
              td {{execution.device}}
              td {{execution.status}}
              td {{execution.trigger}}
              td {{execution.duration}}
              td {{execution.createdAt}}

pre {{userApplet|json}}
