div.panel.panel-default.col-sm-12.col-md-4
  div.panel-body
    div.media
      div.media-left
        a(ng-href='/my-applets/{{applet._id}}')
          img.md-img(ng-src="{{applet.applet.imageUrl}}")
      div.media-body
        h4 {{applet.applet.name}}
        p(ng-if="applet.cloud.mode != 'NO'") In Cloud: {{applet.cloud.mode}}
        p(ng-if="applet.device")
          | Run on: #[a(href="/devices") {{applet.device.name}}]
        p
          | Last Execution:&nbsp;
          a(href="/my-applets/{{applet._id}}#executions") #[small {{applet.lastExecution | date:'medium'}}]
    hr
    ul.pull-right.list-inline
      li
        a.action(ng-if="applet.status == 'ON'", ng-click="run()", href='#')
          span.glyphicon.glyphicon-tasks
          | &nbsp;Run
      li
        a.action(href='/my-applets/{{applet._id}}#configurations')
          span.glyphicon.glyphicon-edit
          | &nbsp;Config
      li
        a.action(ng-href='/my-applets/{{applet._id}}')
          span.glyphicon.glyphicon-th
          | &nbsp;Details
