div.panel.panel-default.col-sm-12.col-md-6
  div.panel-body
    div.media
      div.media-left
        img.md-img(src="{{applet.applet.imageUrl}}")
      div.media-body
        h4 {{applet.applet.name}}
        p(ng-if="applet.cloud.mode != 'NO'") In Cloud: {{applet.cloud.mode}}
        p(ng-if="applet.device") Device: {{applet.device}}
        p Last Execution: NEVER
        div.pull-right
          button.btn.btn-success(ng-if="applet.status == 'ON'") Enabled
          button.btn.btn-primary Config
          button.btn.btn-default Details
