h2 Message Box

div.flex-box.message-container
  ul.col-md-3.nav.nav-pills.nav-stacked
    li.active
      a(data-toggle="pill", href="#all-message") All Messages
  div.col-md-9.message-content
    div.flex-box
      div.text-right(style="padding-right: 20px;")
        small
          strong
            | {{current * 20}}-{{current * 20 + 20}} of {{totalPage * 20}} messages, {{unread}} unread in current
            | page
      ul.col-md-12.list-group
        li.list-group-item.no-padding(ng-repeat="message in messages")
          message(ng-model="message", on-change="refreshCounters()")
    nav.message-box-footer.text-center
      ul.pagination
        li
          a(href='#', ng-click="changePage(current - 1)")
            span &laquo;
        li(ng-repeat="page in _.range(totalPage)", ng-class='{active: page==current}', ng-click="changePage(page)")
          a(href='#') {{page + 1}}
        li
          a(href='#', ng-click="changePage(current + 1)")
            span &raquo;
