div.media.sm-padding
  div.media-left
    a(ng-href="/my-applets/{{message.via}}")
      img.md-img.img-rounded(ng-src="{{message.sender.imageUrl}}")
  div.media-body
    div
      h5
        a(ng-href="/my-applets/{{message.via}}", ng-show="message.via")
          strong {{message.sender.name}}
        strong(ng-show="!message.via") {{message.sender.name}}
        small.pull-right {{message.createdAt | date:'medium'}}
    p {{message.message}}
    ul.list-inline.pull-right
      li #[span.glyphicon.glyphicon-plus]
